In [62]:
import pandas as pd
import numpy as np
from kite_trade import *
from enctoken import get_kite
kite = get_kite()
import warnings
warnings.filterwarnings(action = 'ignore')
import time
import sqlite3
import sql
from tqdm import tqdm
import util_fun as uf

In [13]:
# 1. create database for data
# 	1. table for nifty 50 stocks:
# 		day, 15min, 5min, 1 min
# 	2. table for  nifty 500 stocks
# 	3. expiry table
# 	4.index table
conn = sqlite3.connect('../data/stocks.db')

In [58]:
nifty_50 = pd.read_csv('../data/ind_nifty50list.csv')
inst = pd.DataFrame(kite.instruments("NSE"))
inst.rename(columns={'tradingsymbol':'Symbol'},inplace=True)
inst_cols = ['Symbol','instrument_token','last_price','lot_size','strike','instrument_type']
inst = inst[inst_cols]
inst = nifty_50.merge(inst, how = 'inner', on  = 'Symbol')

In [61]:
timerframe_list = [
"day",
"minute",
 "5minute",]

i=0
error_list = []
# instument in nse
inst = pd.DataFrame(kite.instruments("NSE"))
inst_filter = inst.query('(name != "")').copy()
inst_filter.rename(columns = {"tradingsymbol":'Symbol'},inplace = True)
nifty_500 = pd.read_csv('../data/ind_nifty500list.csv')
nifty_500 = nifty_500.merge(inst_filter, on = 'Symbol')
inst_dict = dict(zip(nifty_500.Symbol, nifty_500.instrument_token))

start_dt = '2018-01-01'
end_dt = '2023-02-27'
time_frame = 'day'
for symbol, instument in tqdm(inst_dict.items()):
    if i :
        print(symbol, instument)
        try:
            df_day = uf.get_data_parllel(kite, instument, time_frame , start_dt,end_dt)
            directory = f'../data/historical/{time_frame}/{symbol}'
            if not os.path.exists(directory):
                os.makedirs(directory)
            df_day.to_parquet(f'{directory}/part0.parquet')
        except:
            print(instument)
            error_list.append(instument)

    i += 1
print(error_list)

In [ ]:
I will read the dataframe and append the data in table

In [14]:
cursor_obj = conn.cursor()
 
# Drop the GEEK table if already exists.
cursor_obj.execute("DROP TABLE IF EXISTS GEEK")
 
# Creating table
table = """ CREATE TABLE GEEK (
            Email VARCHAR(255) NOT NULL,
            First_Name CHAR(25) NOT NULL,
            Last_Name CHAR(25),
            Score INT
        ); """
 
cursor_obj.execute(table)
 
print("Table is Ready")
 
# Close the connection
# conn.close()

Table is Ready

In [15]:
sql.get_tablenames_fromsql(conn)

['GEEK']