In [1]:
# !git clone https://github.com/TradeViaPython/Kite_Zerodha.git

In [57]:
from kite_trade import *
import pandas as pd

In [58]:
enctoken = "79mOAIk9qDmIgVdbiLEPoIzZSURm4Bmh+B5czd4f59wPoIiH4u9RFH1keBRsSWVrjrIq/FTyC3MFkY33mcbJek1NxZ5LdL8+x+K6yukKC1XU+dSdMIW4Tg=="

# enctoken = "/e2Jd2IW55XJ4383yo6+Mu9UBVxXiW2M30NkVl5byrVaCxdLaunm11TN9Sr4BCgpqHLVKvs8pk94nFqVdBbMk3Wq497yMQeYtyxeXAzw/r/xfNU1SwzxJg=="
kite = KiteApp(enctoken=enctoken)

In [60]:
# i will take the daily data, and check last 3 days price and volume is increase by 1%

### daily data analysis

In [61]:
# instument in nse
inst = pd.DataFrame(kite.instruments("NSE"))
inst_filter = inst.query('(segment == "NSE") & (name != "")')

In [40]:
inst_filter.query("tradingsymbol == 'RELIANCE'")

,instrument_token,exchange_token,tradingsymbol,name,last_price,expiry,strike,tick_size,lot_size,instrument_type,segment,exchange
4143,738561,2885,RELIANCE,RELIANCE INDUSTRIES,0.0,None,0.0,0.05,1,EQ,NSE,NSE

In [7]:
# print(pd.DataFrame(kite.margins()))

In [39]:
# print(kite.ltp("NSE:RELIANCE"))
# print(kite.ltp(["NSE:NIFTY 50", "NSE:NIFTY BANK"]))
# print(kite.quote(["NSE:NIFTY BANK", "NSE:ACC", "NFO:NIFTY22SEPFUT"]))

In [51]:
import datetime
instrument_token = 738561
from_datetime = datetime.datetime.now() - datetime.timedelta(days=10)     # From last & days
to_datetime = datetime.datetime.now()
interval = "day"

In [52]:
data = kite.historical_data(738561,from_datetime, to_datetime,interval)

In [53]:
data = pd.DataFrame(data)

In [55]:
data['change_in_price']  = data['close']/data['open']-1

In [56]:
data['change_in_price']  = data['close']/data['open']-1

,date,open,high,low,close,volume,change_in_price
0,2022-10-10 00:00:00+05:30,2405.0,2417.60,2388.00,2405.80,2921076,0.000333
1,2022-10-11 00:00:00+05:30,2414.0,2414.00,2351.10,2357.90,4252803,-0.023239
2,2022-10-12 00:00:00+05:30,2352.0,2381.70,2343.10,2375.25,3422992,0.009885
3,2022-10-13 00:00:00+05:30,2371.4,2394.00,2360.10,2382.80,3382098,0.004807
4,2022-10-14 00:00:00+05:30,2415.0,2416.35,2369.10,2370.70,4202459,-0.018344
5,2022-10-17 00:00:00+05:30,2355.0,2414.00,2343.60,2408.75,7720595,0.022824
6,2022-10-18 00:00:00+05:30,2422.0,2463.00,2420.25,2454.50,3435115,0.013419